span {
    text-decoration: underline overline #ff0208 2px;
    font-weight: 700;
}

p {
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}